version: "3.8"

services:
  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: api
      POSTGRES_USER: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "54321:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    build: ./apps/.docker-node-api/redis
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mailhog:
    image: mailhog/mailhog:latest
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./apps/api:/usr/src/app
      - /usr/src/app/node_modules
      - uploads_data:/usr/src/app/uploads
    working_dir: /usr/src/app
    # Dev: run Nest in watch mode
    command: sh -c "npm run dev"

    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: secret
      DB_NAME: api
      JWT_SECRET: secret
      REDIS_HOST: redis
      REDIS_PORT: 6379
      MAIL_HOST: mailhog
      MAIL_PORT: 1025
      FRONTEND_URL: http://web:3000
      ALLOWED_ORIGINS: http://localhost:3000,http://127.0.0.1:3000,http://100.92.113.45:3000
      PORT: 5005
    ports:
      - "5005:5005"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      mailhog:
        condition: service_started

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./apps/web:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    # Production: build then start
    command: sh -c "npm run build && npm run start -- -H 0.0.0.0 -p 3000"
    environment:
      NEXT_PUBLIC_API_BASE_URL: /api
      API_PROXY_TARGET: http://api:5005
      # Enable polling only relevant in dev; harmless in prod
      CHOKIDAR_USEPOLLING: "1"
      CHOKIDAR_INTERVAL: "1000"
      WATCHPACK_POLLING: "true"
    ports:
      - "3000:3000"
    depends_on:
      api:
        condition: service_started

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  uploads_data:
    driver: local
